.wrapper {
    min-height: 100vh;
    background: #f7f5f8;
}

.ads {
    padding: 30px;

    &__header {
        margin-bottom: 16px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }

    &__count {
        color: gray;
        font-size: 14px;
    }

    &__controls {
        height: 56px;
        border-radius: 8px;
        background-color: white;
        padding: 12px;
        display: flex;
        gap: 24px;
        margin-bottom: 20px;
    }

    &__view {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: #f6f6f8;
        padding: 0 5px;
        border-radius: 8px;
        &-btn {
            background: none;
            border: none;
            cursor: pointer;
            color: #bfbfbf;
            display: flex;
            padding: 2px;
            transition: color 0.2s;

            &--active {
                color: #1890ff;
            }
        }
    }

    &__sort {
        padding: 8px;
        height: 32px;
        width: 17%;
        background: #f6f6f8;
        border-radius: 8px;
        border: none;
        font-size: 14px;
    }

    &__divider {
        width: 1px;
        height: 95%;
        padding: 0.5px 0;
        background: white;
    }

    &__content {
        display: flex;
        gap: 20px;
    }

    &__sidebar {
        width: 298px;
        margin-right: 24px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &__right {
        display: flex;
        flex-direction: column;
        min-height: 500px;
        justify-content: space-between;
        width: 100%;
    }
}
