.ads__grid {
    display: grid;
    gap: 16px;
    height: calc(66vh ); 
    overflow-y: auto; 
    padding-right: 8px; 
    align-content: start;

    &--grid {
        grid-template-columns: repeat(5, 1fr);
        align-content: start; 
    }

    &--list {
        grid-template-columns: 1fr;
        align-content: start;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
        border-radius: 10px;
    }
}

.ads__loader-wrapper {
    grid-column: 1 / -1; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    min-height: 400px; 
}